# Can ignore specific files
.DS_Store
App_Data
HealthyCampusWebApp.Models.RecipeContext.mdf
App_Data/HealthyCampusWebApp.Models.RecipeContext.mdf


# Use wildcards as well
*~
*.swp

# Can also ignore all directories and files in a directory.
tmp/**/* 